<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.system.dao.ChannelItemScoreMapper">
  <resultMap id="BaseResultMap" type="cc.mrbird.system.domain.ChannelItemScore">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SCORE_TYPE" jdbcType="VARCHAR" property="scoreType" />
    <id column="CHANNEL_ID" jdbcType="VARCHAR" property="channelId" />
    <id column="CHANNEL_TYPE" jdbcType="VARCHAR" property="channelType" />
    <result column="CHANNEL_DATE_TIME" jdbcType="TIMESTAMP" property="channelDateTime" />
    <result column="FRACTIONS" jdbcType="DECIMAL" property="fractions" />
    <result column="REMARK1" jdbcType="VARCHAR" property="remark1" />
    <result column="REMARK2" jdbcType="VARCHAR" property="remark2" />
    <result column="REMARK3" jdbcType="VARCHAR" property="remark3" />
    <result column="REMARK4" jdbcType="VARCHAR" property="remark4" />
    <result column="REMARK5" jdbcType="VARCHAR" property="remark5" />
  </resultMap>
</mapper>