<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.system.dao.MerchantMapper">
  <resultMap id="BaseResultMap" type="cc.mrbird.system.domain.Merchant">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="MER_ID" jdbcType="VARCHAR" property="merId" />
    <result column="MER_STATUS" jdbcType="CHAR" property="merStatus" />
    <result column="MER_CIFNO" jdbcType="VARCHAR" property="merCifno" />
    <result column="MER_TYPE" jdbcType="CHAR" property="merType" />
    <result column="MER_MGMTDEPTID" jdbcType="VARCHAR" property="merMgmtdeptid" />
    <result column="MER_NAME" jdbcType="VARCHAR" property="merName" />
    <result column="MER_OPENDEPTID" jdbcType="VARCHAR" property="merOpendeptid" />
    <result column="MER_DEVELOPDEPTID" jdbcType="VARCHAR" property="merDevelopdeptid" />
    <result column="MER_SERVICETYPE" jdbcType="CHAR" property="merServicetype" />
    <result column="MER_SETTACCTNO" jdbcType="VARCHAR" property="merSettacctno" />
    <result column="MER_SETTACCTNAME" jdbcType="VARCHAR" property="merSettacctname" />
    <result column="MER_SETTACCTSIGNNO" jdbcType="VARCHAR" property="merSettacctsignno" />
    <result column="MER_FEEACCTNO" jdbcType="VARCHAR" property="merFeeacctno" />
    <result column="MER_FEEACCTNAME" jdbcType="VARCHAR" property="merFeeacctname" />
    <result column="MER_FEEACCTSIGNNO" jdbcType="VARCHAR" property="merFeeacctsignno" />
    <result column="MER_BAILACCTNO" jdbcType="VARCHAR" property="merBailacctno" />
    <result column="MER_BAILAMT" jdbcType="DECIMAL" property="merBailamt" />
    <result column="MER_THIDPARTACCTNO" jdbcType="VARCHAR" property="merThidpartacctno" />
    <result column="MER_LINKMANNAME" jdbcType="VARCHAR" property="merLinkmanname" />
    <result column="MER_LINKMANTEL" jdbcType="VARCHAR" property="merLinkmantel" />
    <result column="MER_LINKMANPHONE" jdbcType="VARCHAR" property="merLinkmanphone" />
    <result column="MER_LINKMANEMAIL" jdbcType="VARCHAR" property="merLinkmanemail" />
    <result column="MER_TEL" jdbcType="VARCHAR" property="merTel" />
    <result column="MER_FAX" jdbcType="VARCHAR" property="merFax" />
    <result column="MER_ADDR" jdbcType="VARCHAR" property="merAddr" />
    <result column="MER_POSTALCODE" jdbcType="CHAR" property="merPostalcode" />
    <result column="MER_SITECODE" jdbcType="VARCHAR" property="merSitecode" />
    <result column="MER_SITENAME" jdbcType="VARCHAR" property="merSitename" />
    <result column="MER_DOMAIN" jdbcType="VARCHAR" property="merDomain" />
    <result column="MER_WORKSCOP" jdbcType="VARCHAR" property="merWorkscop" />
    <result column="MER_REPURL" jdbcType="VARCHAR" property="merRepurl" />
    <result column="MER_CLEARMODE" jdbcType="VARCHAR" property="merClearmode" />
    <result column="MER_SETTMODE" jdbcType="VARCHAR" property="merSettmode" />
    <result column="MER_SETTPERIOD" jdbcType="VARCHAR" property="merSettperiod" />
    <result column="MER_FEESETTPERIOD" jdbcType="VARCHAR" property="merFeesettperiod" />
    <result column="MER_SERVICEAMT" jdbcType="DECIMAL" property="merServiceamt" />
    <result column="MER_SERVICEAMTRCVDATE" jdbcType="TIMESTAMP" property="merServiceamtrcvdate" />
    <result column="MER_CERTSN" jdbcType="VARCHAR" property="merCertsn" />
    <result column="MER_CERTUPLOADDATE" jdbcType="TIMESTAMP" property="merCertuploaddate" />
    <result column="MER_OPENDATE" jdbcType="TIMESTAMP" property="merOpendate" />
    <result column="MER_OPENUSER" jdbcType="VARCHAR" property="merOpenuser" />
    <result column="MER_MODIFYDATE" jdbcType="TIMESTAMP" property="merModifydate" />
    <result column="MER_MODIFYUSER" jdbcType="VARCHAR" property="merModifyuser" />
    <result column="MER_CLOSEDATE" jdbcType="TIMESTAMP" property="merClosedate" />
    <result column="MER_FEEMODE" jdbcType="VARCHAR" property="merFeemode" />
    <result column="MER_FEEAMT" jdbcType="VARCHAR" property="merFeeamt" />
    <result column="MER_FEERETURNFLAG" jdbcType="CHAR" property="merFeereturnflag" />
    <result column="MER_CLOSEUSER" jdbcType="VARCHAR" property="merCloseuser" />
    <result column="MER_ORDERDEPTID" jdbcType="VARCHAR" property="merOrderdeptid" />
    <result column="MER_COMPANYNAME" jdbcType="VARCHAR" property="merCompanyname" />
    <result column="MER_AUTHCHECKFLAG" jdbcType="CHAR" property="merAuthcheckflag" />
    <result column="MER_ACTIVEFLAG" jdbcType="CHAR" property="merActiveflag" />
    <result column="MER_PAYOPENFLAG" jdbcType="CHAR" property="merPayopenflag" />
    <result column="MER_CORPORATIONNAME" jdbcType="VARCHAR" property="merCorporationname" />
    <result column="MER_CORPORATIONPAPERTYPE" jdbcType="VARCHAR" property="merCorporationpapertype" />
    <result column="MER_CORPORATIONPAPERID" jdbcType="VARCHAR" property="merCorporationpaperid" />
    <result column="MER_CORPORATIONIDTYPE" jdbcType="VARCHAR" property="merCorporationidtype" />
    <result column="MER_CORPORATIONIDNO" jdbcType="VARCHAR" property="merCorporationidno" />
    <result column="MER_FEEMINAMT" jdbcType="DECIMAL" property="merFeeminamt" />
    <result column="MER_FEEMAXAMT" jdbcType="DECIMAL" property="merFeemaxamt" />
    <result column="MER_ACCTTYPE" jdbcType="VARCHAR" property="merAccttype" />
    <result column="MER_ORGDEPTID" jdbcType="VARCHAR" property="merOrgdeptid" />
    <result column="MER_BUSINESSLICENSEID" jdbcType="VARCHAR" property="merBusinesslicenseid" />
    <result column="PROFIT_SEQNO" jdbcType="VARCHAR" property="profitSeqno" />
    <result column="MER_INSTID" jdbcType="VARCHAR" property="merInstid" />
    <result column="MER_SETTACCTTYPE" jdbcType="VARCHAR" property="merSettaccttype" />
    <result column="MER_FEEACCTTYPE" jdbcType="VARCHAR" property="merFeeaccttype" />
    <result column="MER_BAILACCTTYPE" jdbcType="VARCHAR" property="merBailaccttype" />
    <result column="MER_BRIEFNAME" jdbcType="VARCHAR" property="merBriefname" />
    <result column="MER_IFONLINE" jdbcType="VARCHAR" property="merIfonline" />
    <result column="MER_REGCAPITAL" jdbcType="DECIMAL" property="merRegcapital" />
    <result column="MER_TAXREGID" jdbcType="VARCHAR" property="merTaxregid" />
    <result column="MER_BUSINESSOPENDATE" jdbcType="TIMESTAMP" property="merBusinessopendate" />
    <result column="MER_PROPERTY" jdbcType="VARCHAR" property="merProperty" />
    <result column="MER_SITEIPORT" jdbcType="VARCHAR" property="merSiteiport" />
    <result column="MER_IFVIRTRUALGOODS" jdbcType="VARCHAR" property="merIfvirtrualgoods" />
    <result column="MER_SPECIALLICENSE" jdbcType="VARCHAR" property="merSpeciallicense" />
    <result column="MER_LICENESE" jdbcType="VARCHAR" property="merLicenese" />
    <result column="MER_IF2LEVELMER" jdbcType="VARCHAR" property="merIf2levelmer" />
    <result column="MER_IFINNERSETT" jdbcType="VARCHAR" property="merIfinnersett" />
    <result column="MER_TECHLINKNAME" jdbcType="VARCHAR" property="merTechlinkname" />
    <result column="MER_TECHLINKMANTEL" jdbcType="VARCHAR" property="merTechlinkmantel" />
    <result column="MER_TECHLINKMANPHONE" jdbcType="VARCHAR" property="merTechlinkmanphone" />
    <result column="MER_TECHLINKMANEMAIL" jdbcType="VARCHAR" property="merTechlinkmanemail" />
    <result column="MER_SETTACDEPTID" jdbcType="VARCHAR" property="merSettacdeptid" />
    <result column="MER_IFINNERCIF" jdbcType="VARCHAR" property="merIfinnercif" />
    <result column="MER_CIFLEVEL" jdbcType="VARCHAR" property="merCiflevel" />
    <result column="MER_COMPROPERTIES" jdbcType="VARCHAR" property="merComproperties" />
    <result column="COM_BUSSINESSLICENSEID" jdbcType="VARCHAR" property="comBussinesslicenseid" />
    <result column="COM_TAXREGID" jdbcType="VARCHAR" property="comTaxregid" />
    <result column="COM_ADDR" jdbcType="VARCHAR" property="comAddr" />
    <result column="COM_ZIPCODE" jdbcType="VARCHAR" property="comZipcode" />
    <result column="COM_PHONE" jdbcType="VARCHAR" property="comPhone" />
    <result column="COM_FAX" jdbcType="VARCHAR" property="comFax" />
    <result column="MER_LEVEL" jdbcType="VARCHAR" property="merLevel" />
    <result column="MER_TRANSTYPE" jdbcType="VARCHAR" property="merTranstype" />
    <result column="MER_LIMIT" jdbcType="DECIMAL" property="merLimit" />
    <result column="SETTLEMENT_TYPE" jdbcType="VARCHAR" property="settlementType" />
    <result column="QR_CODE" jdbcType="VARCHAR" property="qrCode" />
    <result column="AGENT_ID" jdbcType="VARCHAR" property="agentId" />
    <result column="MER_WXID" jdbcType="VARCHAR" property="merWxid" />
    <result column="SUB_APPID" jdbcType="VARCHAR" property="subAppid" />
    <result column="JS_API_PATH" jdbcType="VARCHAR" property="jsApiPath" />
    <result column="SUB_SCRIBE_APPID" jdbcType="VARCHAR" property="subScribeAppid" />
    <result column="WX_STATUS" jdbcType="VARCHAR" property="wxStatus" />
    <result column="PROTOCAL_STATUS" jdbcType="VARCHAR" property="protocalStatus" />
    <result column="PROTOCAL_SIGN_DATE" jdbcType="TIMESTAMP" property="protocalSignDate" />
    <result column="KEY_ID" jdbcType="VARCHAR" property="keyId" />
    <result column="MER_CERT" jdbcType="LONGVARCHAR" property="merCert" />
    <result column="COM_REMARK" jdbcType="LONGVARCHAR" property="comRemark" />
    <result column="CERT_FRONT_PICTURE" jdbcType="LONGVARBINARY" property="certFrontPicture" />
    <result column="CERT_BACK_PICTURE" jdbcType="LONGVARBINARY" property="certBackPicture" />
    <result column="COM_BUSSINESSLICENSE_PICTURE" jdbcType="LONGVARBINARY" property="comBussinesslicensePicture" />
    <result column="ORG_CERT_PICTURE" jdbcType="LONGVARBINARY" property="orgCertPicture" />
    <result column="TAX_PICTURE" jdbcType="LONGVARBINARY" property="taxPicture" />
  </resultMap>
</mapper>