<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.system.dao.UppBatchFeeTransMapper">
  <resultMap id="BaseResultMap" type="cc.mrbird.system.domain.UppBatchFeeTrans">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="FEE_SEQNO" jdbcType="VARCHAR" property="feeSeqno" />
    <id column="SHARDING_KEY" jdbcType="DECIMAL" property="shardingKey" />
    <result column="TRANS_SEQNO" jdbcType="VARCHAR" property="transSeqno" />
    <result column="TRANS_CLEARDATE" jdbcType="TIMESTAMP" property="transCleardate" />
    <result column="TRANS_SETTDATE" jdbcType="TIMESTAMP" property="transSettdate" />
    <result column="TRANS_MERSEQNO" jdbcType="VARCHAR" property="transMerseqno" />
    <result column="MER_ID" jdbcType="VARCHAR" property="merId" />
    <result column="TRANS_PAYACCTNO" jdbcType="VARCHAR" property="transPayacctno" />
    <result column="TRANS_PAYACCTNO_TYPE" jdbcType="VARCHAR" property="transPayacctnoType" />
    <result column="TRANS_PAYACCTNAME" jdbcType="VARCHAR" property="transPayacctname" />
    <result column="PAY_DEPTID" jdbcType="VARCHAR" property="payDeptid" />
    <result column="TRANS_RCVACCTNO" jdbcType="VARCHAR" property="transRcvacctno" />
    <result column="TRANS_RCVACCTNO_TYPE" jdbcType="VARCHAR" property="transRcvacctnoType" />
    <result column="TRANS_RCVACCTNAME" jdbcType="VARCHAR" property="transRcvacctname" />
    <result column="RCV_DEPTID" jdbcType="VARCHAR" property="rcvDeptid" />
    <result column="TRANS_AMT" jdbcType="DECIMAL" property="transAmt" />
    <result column="TRANS_BRIEFCODE" jdbcType="CHAR" property="transBriefcode" />
    <result column="CORPORATION_DEPTID" jdbcType="VARCHAR" property="corporationDeptid" />
    <result column="CORPORATION_CODE" jdbcType="CHAR" property="corporationCode" />
    <result column="GMT_MODIFIED" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="GMT_CREATE" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="TRANS_SETTSTATUS" jdbcType="CHAR" property="transSettstatus" />
    <result column="SEND_FLAG" jdbcType="VARCHAR" property="sendFlag" />
  </resultMap>
  
  <select id="transQuery" resultMap="BaseResultMap" parameterType="UppBatchFeeTrans">
  	select t.* from (
  		select * from upp_batch_fee_trans 
			union all 
		select * from upp_batch_ht_fee_trans
  	)t where 1=1 
  	<if test="merId != null and merId != ''"> AND MER_ID=#{merId, jdbcType=VARCHAR}</if>
  	<if test="transMerseqno != null and transMerseqno != ''"> AND TRANS_MERSEQNO=#{transMerseqno, jdbcType=VARCHAR}</if>
  	<if test="beginDate != null and beginDate !='' "> and LEFT(TRANS_CLEARDATE, 10) &gt;= #{beginDate}</if>
	<if test="endDate != null and endDate !='' "> and LEFT(TRANS_CLEARDATE, 10) &lt;=#{endDate}</if>
  </select>
</mapper>