<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.system.dao.UppMarketingDaysetMapper">
  <resultMap id="BaseResultMap" type="cc.mrbird.system.domain.UppMarketingDayset">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="TRANS_SETTSEQNO" jdbcType="VARCHAR" property="transSettseqno" />
    <result column="TRANS_CLEARDATE" jdbcType="TIMESTAMP" property="transCleardate" />
    <result column="TRANS_SETTSTATUS" jdbcType="VARCHAR" property="transSettstatus" />
    <result column="TRANS_PAYACCTNO" jdbcType="VARCHAR" property="transPayacctno" />
    <result column="TRANS_RCVACCTNO" jdbcType="VARCHAR" property="transRcvacctno" />
    <result column="TRANS_AMT" jdbcType="DECIMAL" property="transAmt" />
    <result column="POINT_CHANNEL" jdbcType="VARCHAR" property="pointChannel" />
    <result column="GMT_MODIFIED" jdbcType="DATE" property="gmtModified" />
    <result column="GMT_CREATE" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="SHARDING_KEY" jdbcType="VARCHAR" property="shardingKey" />
    <result column="TRANS_PAYACCTNO_TYPE" jdbcType="VARCHAR" property="transPayacctnoType" />
    <result column="TRANS_RCVACCTNO_TYPE" jdbcType="VARCHAR" property="transRcvacctnoType" />
    <result column="TRANS_PAYACCTNAME" jdbcType="VARCHAR" property="transPayacctname" />
    <result column="TRANS_RCVACCTNAME" jdbcType="VARCHAR" property="transRcvacctname" />
    <result column="REMARK1" jdbcType="VARCHAR" property="remark1" />
    <result column="REMARK2" jdbcType="VARCHAR" property="remark2" />
    <result column="REMARK3" jdbcType="VARCHAR" property="remark3" />
    <result column="REMARK4" jdbcType="VARCHAR" property="remark4" />
    <result column="REMARK5" jdbcType="VARCHAR" property="remark5" />
  </resultMap>
</mapper>