<div class="modal fade" id="userBlackWhiteList-add" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left" id="userBlackWhiteList-add-modal-title">添加用户黑白名单信息</h3>
            </div>
            <div class="modal-body">
                <form id="userBlackWhiteList-add-form">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	卡号：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="cardno" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	卡状态：
					            </span>
                                <div class="form-group">
                                    <select name="status" class="form-control">
										 <option value="">请选择</option>
										 <option value="0">黑名单</option>
										 <option value="1">白名单</option>
										 <option value="2">灰名单</option>
									</select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-save" id="userBlackWhiteList-add-button" name="save">保存</button>
                <button type="button" class="btn btn-secondary btn-close">关闭</button>
                <button class="btn-hide"></button>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/system/userBlackWhiteList/userBlackWhiteListAdd.js}"></script>