<div class="modal fade" id="agency-add" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left" id="agency-add-modal-title">添加代理商信息</h3>
            </div>
            <div class="modal-body">
                <form id="agency-add-form">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	代理商编号：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="agencynbr" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	代理商名称：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="agencyname" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	代理商联系方式：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="agencytelphone" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	代理商地址：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="agencyaddress" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	代理商邮箱地址：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="agencymail" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	代理商服务电话：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="agencyservicephone" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	代理商营业执照号：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="agencylicenseid" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	代理商法人代表姓名：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="agencyporationname" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	代理商法人代表身份证件类型：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="agencyporationpapertyp" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	代理商法人代表身份证件号：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="agencyporationpapernbr" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	代理商信息备注：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="agencyremark" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	代理商结算账户：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="agencysettleacct" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	代理商分润标识：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="agencyprofitnbr" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-save" id="agency-add-button" name="save">保存</button>
                <button type="button" class="btn btn-secondary btn-close">关闭</button>
                <button class="btn-hide"></button>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/system/agency/agencyAdd.js}"></script>